@using Kino.Models
@model List<Dvorana>
@{
	ViewData["Title"] = "Index";
	var dv = (string)ViewData["dvorane"];
	var porukasuccess = (string)TempData["porukasuccess"];
	var porukaerror = (string)TempData["porukaerror"];
}

<h1>Prikaz dvorana</h1>
<label style="color:green">@porukasuccess</label>
<label style="color:red">@porukaerror</label>
<table class="table">
	<thead>
		<tr>
			<th>Naziv dvorane</th>
			<th>Opis </th>
			<th>Kapacitet</th>
			<th>Vrsta dvorane</th>
			<th>Kino </th>
			<th>Akcija</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var x in Model)
		{
			<tr>
				<td>@x.Naziv</td>
				<td>@x.Opis</td>
				<td>@x.Kapacitet</td>
				<td>@x.VrstaDvorane.Naziv</td>
				<td>@x.KinoObjekat.Naziv</td>
				<td>
					<a asp-controller="Dvorana" asp-action="Uredi" asp-route-DvoranaID="@x.DvoranaID" class="btn btn-primary">Uredi</a>
					<a asp-controller="Dvorana" asp-action="Obrisi" asp-route-DvoranaID="@x.DvoranaID" class="btn btn-danger">Obrisi</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<a href="/Dvorana/DodajUrediForma" class="btn btn-success">Dodaj</a>