@model IEnumerable<Kino.ViewModels.RezervacijaIndex>
@using Kino.Models
@using Kino.Helper
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    Korisnik korisnik = Context.GetLogiraniKorisnik();
}
<label style="color:green">@ViewData["poruka-kljuc"]</label>
<label style="color:red"> @ViewData["poruka1-kljuc"]</label>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.RezervacijaID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Kupac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivFilma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zakljucena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRezervacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdabraniBrojSjedista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UkupnaCijena)
            </th>
            @if (korisnik.UlogaID == (int)UlogaEnum.Uposlenik)
            {
                @*<th>Akcija</th>*@
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.RezervacijaID)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Kupac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivFilma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zakljucena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdabraniBrojSjedista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnaCijena)
            </td>
            @if (korisnik.UlogaID == (int)UlogaEnum.Uposlenik)
            {
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Otkazi", "Otkazi", new { RezervacijaID = item.RezervacijaID })*@
                </td>
            }

        </tr>
        }
    </tbody>
</table>
